# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet Packages
*.nupkg
packages/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file sharing
$RECYCLE.BIN/
